---
import AboutHeroImage from '../assets/about-us.jpg';
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title="About"
	description="Seorang bapak rumah tangga yang berprofesi sebagai tukang solusi"
	pubDate={new Date('February 16 2026')}
	heroImage={AboutHeroImage}
>
<p>
	Saya Raden, seorang bapak rumah tangga yang berprofesi sebagai tukang solusi 
	untuk menyelesaikan masalah yang ada.
</p>
<p>
	Saya menulis tentang cerita, pengalaman hidup, insight teknologi, engineering, 
	dan pemikiran strategis. Blog ini adalah tempat saya dapat meluangkan secara 
	terbuka untuk bisa dibagikan dengan orang lain — mungkin ada yang bermanfaat 
	atau sebagai referensi informasi dalam apapun.
</p>
<p>
	Pancakarsa bukan sekadar blog. Ini adalah ruang berpikir yang dibagikan.
</p>
</Layout>